<!DOCTYPE html>
<html>
	<head><title>Sl@ck3r N3ws</title></head>

	<body>
		
		<h3>N3ws for Sl@ck3rs</h3>
		<a href ='/new'><h7>Add an article</h7></a>
		<div>
			<ul>
				<% @news.each do |article| %>
					<li>
						<h4><%= "#{article[:article_title]} - posted on #{article[:submission_date]}" %></h4>
						<a href ="<% article[:article_link] %>"><p><%= article[:article_link] %></p></a>
						<p><%= article[:article_summary] %></p>
					
					</li>
				<% end %>
			</ul>
		</div>
	</body>

</html>