<!DOCTYPE>
<html>
<head><title>Submitting a new Article?</title></head>

<body>
	<h3>Submit an article!</h3>
	<div>
		<form method="post" action="/new">
			<div>
				<label for="article_title">Article Title:</label>







	</div>



</body>
</html>